[general]

[globalcontroller]
globalcontroller_host = <global controller host>
globalcontroller_port = <*Optional global controller port>


[graphdb]
gdb_host=<GraphDB host>
gdb_username=<username>
gdb_password=<password>
gdb_dbname=<GraphDB DB Name>
localpluginrepo=<path rel to controller jar>